{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<div class="navigation_partial">
    <div class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button">
        {{> "navigation"}}
    </div>
</div>

<header class="main-header post-head" style="background-image: url({{image}})">

</header>

<main class="content" role="main">
    <article class="{{post_class}}">


        <div class="demo-container mdl-grid">
          <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
          <div class="post-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
            <h1 class="post-title">{{title}}</h1>
             {{content}}

            <footer class="post-footer">

            {{! Everything inside the #author tags pulls data from the author }}
            {{#author}}

                {{#if image}}
                <figure class="author-image">
                    <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
                </figure>
                {{/if}}

            {{/author}}
            
            </footer>
          </div>
        </div>
    </article>
</main>

<aside class="read-next">
    {{#next_post}}
    <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/next_post}}
    {{#prev_post}}
    <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/prev_post}}
</aside>

{{/post}}
